<configuration scanPeriod="1 seconds" scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-4level %logger - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.SQL" level="INFO" />

  <logger name="org.hibernate.type" level="INFO" />

  <logger
    name="ro.isdc.wro.model.resource.support.ResourceAuthorizationManager"
    level="OFF" />

  <logger name="ro.isdc.wro.manager.ReloadModelRunnable" level="OFF" />

  <logger name="ro.isdc.wro.model.factory.DefaultWroModelFactoryDecorator"
    level="OFF" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
